[user]
	name = Eugenio Augusto Jimenes
	email = eugeniojimenes@gmail.com
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[core]
	editor = nvim
[pull]
	rebase = true
[init]
	defaultBranch = develop
[commit]
	template = ~/dotfiles/git/.gitmessage
[merge]
	conflictStyle = zdiff3
[rebase]
	autoSquash = true
[push]
	followTags = true
[rerere]
	enabled = true
